.super-docs .form-input,.super-docs .form-textarea,.super-docs .form-select,.super-docs .form-multiselect {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  border-radius: 0px;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-shadow: 0 0 #0000;
}
.super-docs .form-input:focus, .super-docs .form-textarea:focus, .super-docs .form-select:focus, .super-docs .form-multiselect:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  border-color: #2563eb;
}
.super-docs .form-input::-moz-placeholder, .super-docs .form-textarea::-moz-placeholder {
  color: #6b7280;
  opacity: 1;
}
.super-docs .form-input::placeholder,.super-docs .form-textarea::placeholder {
  color: #6b7280;
  opacity: 1;
}
.super-docs .form-input::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}
.super-docs .form-input::-webkit-date-and-time-value {
  min-height: 1.5em;
}
.super-docs .form-input::-webkit-datetime-edit,.super-docs .form-input::-webkit-datetime-edit-year-field,.super-docs .form-input::-webkit-datetime-edit-month-field,.super-docs .form-input::-webkit-datetime-edit-day-field,.super-docs .form-input::-webkit-datetime-edit-hour-field,.super-docs .form-input::-webkit-datetime-edit-minute-field,.super-docs .form-input::-webkit-datetime-edit-second-field,.super-docs .form-input::-webkit-datetime-edit-millisecond-field,.super-docs .form-input::-webkit-datetime-edit-meridiem-field {
  padding-top: 0;
  padding-bottom: 0;
}
.super-docs .form-checkbox,.super-docs .form-radio {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  -webkit-print-color-adjust: exact;
          print-color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  color: #2563eb;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  --tw-shadow: 0 0 #0000;
}
.super-docs .form-checkbox {
  border-radius: 0px;
}
.super-docs .form-radio {
  border-radius: 100%;
}
.super-docs .form-checkbox:focus,.super-docs .form-radio:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 2px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}
.super-docs .form-checkbox:checked,.super-docs .form-radio:checked {
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.super-docs .form-checkbox:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}
.super-docs .form-radio:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}
.super-docs .form-checkbox:checked:hover,.super-docs .form-checkbox:checked:focus,.super-docs .form-radio:checked:hover,.super-docs .form-radio:checked:focus {
  border-color: transparent;
  background-color: currentColor;
}
.super-docs .form-checkbox:indeterminate {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.super-docs .form-checkbox:indeterminate:hover,.super-docs .form-checkbox:indeterminate:focus {
  border-color: transparent;
  background-color: currentColor;
}
.super-docs .absolute {
  position: absolute;
}
.super-docs .relative {
  position: relative;
}
.super-docs .top-2 {
  top: 0.5rem;
}
.super-docs .right-2 {
  right: 0.5rem;
}
.super-docs .top-2\/4 {
  top: 50%;
}
.super-docs .bottom-0 {
  bottom: 0px;
}
.super-docs .right-0 {
  right: 0px;
}
.super-docs .z-50 {
  z-index: 50;
}
.super-docs .float-right {
  float: right;
}
.super-docs .float-left {
  float: left;
}
.super-docs .mt-2 {
  margin-top: 0.5rem;
}
.super-docs .mt-4 {
  margin-top: 1rem;
}
.super-docs .mb-5 {
  margin-bottom: 1.25rem;
}
.super-docs .mt-1\.5 {
  margin-top: 0.375rem;
}
.super-docs .mt-1 {
  margin-top: 0.25rem;
}
.super-docs .mr-7 {
  margin-right: 1.75rem;
}
.super-docs .mt-5 {
  margin-top: 1.25rem;
}
.super-docs .mb-9 {
  margin-bottom: 2.25rem;
}
.super-docs .mb-10 {
  margin-bottom: 2.5rem;
}
.super-docs .mb-24 {
  margin-bottom: 6rem;
}
.super-docs .block {
  display: block;
}
.super-docs .inline {
  display: inline;
}
.super-docs .flex {
  display: flex;
}
.super-docs .inline-flex {
  display: inline-flex;
}
.super-docs .grid {
  display: grid;
}
.super-docs .hidden {
  display: none;
}
.super-docs .h-14 {
  height: 3.5rem;
}
.super-docs .h-screen {
  height: 100vh;
}
.super-docs .h-full {
  height: 100%;
}
.super-docs .h-5 {
  height: 1.25rem;
}
.super-docs .h-72 {
  height: 18rem;
}
.super-docs .h-12 {
  height: 3rem;
}
.super-docs .min-h-\[38rem\] {
  min-height: 38rem;
}
.super-docs .w-full {
  width: 100%;
}
.super-docs .w-5 {
  width: 1.25rem;
}
.super-docs .w-1\/2 {
  width: 50%;
}
.super-docs .w-4 {
  width: 1rem;
}
.super-docs .w-3\/12 {
  width: 25%;
}
.super-docs .w-2\/12 {
  width: 16.666667%;
}
.super-docs .w-7\/12 {
  width: 58.333333%;
}
.super-docs .-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.super-docs .cursor-pointer {
  cursor: pointer;
}
.super-docs .grid-flow-col {
  grid-auto-flow: column;
}
.super-docs .grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.super-docs .grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.super-docs .grid-rows-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr));
}
.super-docs .grid-rows-3 {
  grid-template-rows: repeat(3, minmax(0, 1fr));
}
.super-docs .flex-col {
  flex-direction: column;
}
.super-docs .items-center {
  align-items: center;
}
.super-docs .justify-between {
  justify-content: space-between;
}
.super-docs .gap-3 {
  gap: 0.75rem;
}
.super-docs .gap-4 {
  gap: 1rem;
}
.super-docs .gap-1 {
  gap: 0.25rem;
}
.super-docs .overflow-hidden {
  overflow: hidden;
}
.super-docs .overflow-scroll {
  overflow: scroll;
}
.super-docs .rounded-lg {
  border-radius: 0.5rem;
}
.super-docs .rounded-md {
  border-radius: 0.375rem;
}
.super-docs .rounded {
  border-radius: 0.25rem;
}
.super-docs .rounded-xl {
  border-radius: 0.75rem;
}
.super-docs .border {
  border-width: 1px;
}
.super-docs .border-x {
  border-left-width: 1px;
  border-right-width: 1px;
}
.super-docs .border-b {
  border-bottom-width: 1px;
}
.super-docs .border-t {
  border-top-width: 1px;
}
.super-docs .border-slate-300 {
  --tw-border-opacity: 1;
  border-color: rgb(203 213 225 / var(--tw-border-opacity));
}
.super-docs .border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}
.super-docs .border-slate-400\/70 {
  border-color: rgb(148 163 184 / 0.7);
}
.super-docs .border-indigo-200 {
  --tw-border-opacity: 1;
  border-color: rgb(199 210 254 / var(--tw-border-opacity));
}
.super-docs .bg-transparent {
  background-color: transparent;
}
.super-docs .bg-success {
  --tw-bg-opacity: 1;
  background-color: rgb(16 185 129 / var(--tw-bg-opacity));
}
.super-docs .bg-danger {
  --tw-bg-opacity: 1;
  background-color: rgb(255 87 36 / var(--tw-bg-opacity));
}
.super-docs .bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.super-docs .\!bg-amber-400 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(251 191 36 / var(--tw-bg-opacity)) !important;
}
.super-docs .\!bg-danger {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 87 36 / var(--tw-bg-opacity)) !important;
}
.super-docs .bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(79 70 229 / var(--tw-bg-opacity));
}
.super-docs .bg-slate-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(248 250 252 / var(--tw-bg-opacity));
}
.super-docs .\!bg-success {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(16 185 129 / var(--tw-bg-opacity)) !important;
}
.super-docs .bg-slate-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}
.super-docs .p-7 {
  padding: 1.75rem;
}
.super-docs .p-10 {
  padding: 2.5rem;
}
.super-docs .p-2 {
  padding: 0.5rem;
}
.super-docs .p-5 {
  padding: 1.25rem;
}
.super-docs .px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.super-docs .py-1\.5 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}
.super-docs .py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.super-docs .py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.super-docs .px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.super-docs .px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}
.super-docs .py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.super-docs .px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.super-docs .py-0\.5 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}
.super-docs .py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.super-docs .px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.super-docs .py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.super-docs .px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.super-docs .pr-5 {
  padding-right: 1.25rem;
}
.super-docs .pb-7 {
  padding-bottom: 1.75rem;
}
.super-docs .pb-14 {
  padding-bottom: 3.5rem;
}
.super-docs .pl-16 {
  padding-left: 4rem;
}
.super-docs .pl-2 {
  padding-left: 0.5rem;
}
.super-docs .pt-8 {
  padding-top: 2rem;
}
.super-docs .pl-4 {
  padding-left: 1rem;
}
.super-docs .pr-3 {
  padding-right: 0.75rem;
}
.super-docs .pl-6 {
  padding-left: 1.5rem;
}
.super-docs .font-primary {
  font-family: Poppins;
}
.super-docs .text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.super-docs .text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.super-docs .text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.super-docs .text-\[20px\] {
  font-size: 20px;
}
.super-docs .text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.super-docs .font-bold {
  font-weight: 700;
}
.super-docs .font-semibold {
  font-weight: 600;
}
.super-docs .capitalize {
  text-transform: capitalize;
}
.super-docs .tracking-wide {
  letter-spacing: 0.025em;
}
.super-docs .text-slate-700 {
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
}
.super-docs .text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.super-docs .text-danger {
  --tw-text-opacity: 1;
  color: rgb(255 87 36 / var(--tw-text-opacity));
}
.super-docs .text-neutral-50 {
  --tw-text-opacity: 1;
  color: rgb(250 250 250 / var(--tw-text-opacity));
}
.super-docs .\!text-primary {
  --tw-text-opacity: 1 !important;
  color: rgb(79 70 229 / var(--tw-text-opacity)) !important;
}
.super-docs .text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}
.super-docs .text-primary {
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity));
}
.super-docs .shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.super-docs .shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.super-docs [x-cloak] {
  display: none !important;
}
.super-docs .placeholder\:text-slate-400\/70::-moz-placeholder {
  color: rgb(148 163 184 / 0.7);
}
.super-docs .placeholder\:text-slate-400\/70::placeholder {
  color: rgb(148 163 184 / 0.7);
}
.super-docs .before\:invisible::before {
  content: var(--tw-content);
  visibility: hidden;
}
.super-docs .checked\:border-primary:checked {
  --tw-border-opacity: 1;
  border-color: rgb(79 70 229 / var(--tw-border-opacity));
}
.super-docs .checked\:bg-primary:checked {
  --tw-bg-opacity: 1;
  background-color: rgb(79 70 229 / var(--tw-bg-opacity));
}
.super-docs .hover\:border-slate-400:hover {
  --tw-border-opacity: 1;
  border-color: rgb(148 163 184 / var(--tw-border-opacity));
}
.super-docs .hover\:border-primary:hover {
  --tw-border-opacity: 1;
  border-color: rgb(79 70 229 / var(--tw-border-opacity));
}
.super-docs .hover\:bg-success-hover:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(5 150 105 / var(--tw-bg-opacity));
}
.super-docs .hover\:bg-danger-hover:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(240 48 0 / var(--tw-bg-opacity));
}
.super-docs .hover\:bg-gray-50:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}
.super-docs .hover\:bg-primary-hover:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(67 56 202 / var(--tw-bg-opacity));
}
.super-docs .hover\:bg-indigo-50:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(238 242 255 / var(--tw-bg-opacity));
}
.super-docs .focus\:border-primary:focus {
  --tw-border-opacity: 1;
  border-color: rgb(79 70 229 / var(--tw-border-opacity));
}
.super-docs .focus\:bg-success-hover:focus {
  --tw-bg-opacity: 1;
  background-color: rgb(5 150 105 / var(--tw-bg-opacity));
}
.super-docs .active\:bg-success-hover\/90:active {
  background-color: rgb(5 150 105 / 0.9);
}
.super-docs .group:hover .group-hover\:border-primary\/50 {
  border-color: rgb(79 70 229 / 0.5);
}
.super-docs .peer:checked ~ .peer-checked\:border-primary\/50 {
  border-color: rgb(79 70 229 / 0.5);
}
@media (min-width: 1024px) {
  .lg\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
