.wp-guide .float-right {
    float: right
}
.wp-guide .mx-auto {
    margin-left: auto;
    margin-right: auto
}
.wp-guide .mt-8 {
    margin-top: 2rem
}
.wp-guide .ml-4 {
    margin-left: 1rem
}
.wp-guide .\!inline-block {
    display: inline-block !important
}
.wp-guide .flex {
    display: flex
}
.wp-guide .grid {
    display: grid
}
.wp-guide .contents {
    display: contents
}
.wp-guide .hidden {
    display: none
}
.wp-guide .h-8 {
    height: 2rem
}
.wp-guide .h-10 {
    height: 2.5rem
}
.wp-guide .h-16 {
    height: 4rem
}
.wp-guide .h-14 {
    height: 3.5rem
}
.wp-guide .min-h-\[38rem\] {
    min-height: 38rem
}
.wp-guide .min-h-\[20rem\] {
    min-height: 20rem
}
.wp-guide .min-h-\[16rem\] {
    min-height: 16rem
}
.wp-guide .w-full {
    width: 100%
}
.wp-guide .max-w-3xl {
    max-width: 48rem
}
.wp-guide .cursor-move {
    cursor: move
}
.wp-guide .cursor-pointer {
    cursor: pointer
}
.wp-guide .grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr))
}
.wp-guide .items-center {
    align-items: center
}
.wp-guide .justify-center {
    justify-content: center
}
.wp-guide .justify-between {
    justify-content: space-between
}
.wp-guide .gap-3 {
    gap: 0.75rem
}
.wp-guide .space-y-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem * var(--tw-space-y-reverse))
}
.wp-guide .rounded-xl {
    border-radius: 0.75rem
}
.wp-guide .rounded-lg {
    border-radius: 0.5rem
}
.wp-guide .bg-\[\#F8FAFC\] {
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 252 / var(--tw-bg-opacity))
}
.wp-guide .bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}
.wp-guide .bg-\[\#F9FAFB\] {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity))
}
.wp-guide .p-10 {
    padding: 2.5rem
}
.wp-guide .p-3 {
    padding: 0.75rem
}
.wp-guide .px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem
}
.wp-guide .py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem
}
.wp-guide .px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem
}
.wp-guide .py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem
}
.wp-guide .px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}
.wp-guide .pr-6 {
    padding-right: 1.5rem
}
.wp-guide .pl-3 {
    padding-left: 0.75rem
}
.wp-guide .pb-4 {
    padding-bottom: 1rem
}
.wp-guide .text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
}
.wp-guide .font-bold {
    font-weight: 700
}
.wp-guide .capitalize {
    text-transform: capitalize
}
.wp-guide .shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}
