.superdocs-doc-categories {
	ul {
		list-style: none !important;
		margin: 0 !important;
		padding: 0;

		.submenu {

			.submenu-link {
				display: block;
				text-decoration: none;

				.action_icon {
					float: right;
				}
			}

			.documents ul {
				display: flex;
				flex-direction: column;
			}
		}
	}
}